---
---

@import "{{ site.theme }}";
.button {

    background-color: #4CAF50;

    border: none;

    color: white;

margin: 0 auto;

    text-align: center;

    text-decoration: none;

    display: block;

    font-size: 1em;

    

    cursor: pointer;

    border-radius: 25px;
    transition-duration: 0.8s;
    -webkit-transition-duration: 0.4s;

}

.button:hover {
    background-color: red;
    color: white;
}


div.inner {
	position:relative;
	overflow:hidden;
	z-index:1;

background-color: rgb(190,160,160);

    margin: 0 auto;
    
    color: black;
border-radius: 13px;


}

div.kaixa2 {

    text-align: center;

	color: black;

box-sizing: border-box;

border-radius: 25px;

position: absolute;

    border-style: solid;

    border-width: 1px; 

	border-color: black ;
	font-size: 1em;

}

div.kaixa {
font-size: 100%;

    text-align: center;

	color: black;

border-radius: 25px;

box-sizing: border-box;

position: absolute;

    border-style: solid;

    border-width: 1px; 

	border-color: rgb(190,160,160);
	left: 0px;

}

div.cop {
font-size: 1em;

    text-align: center;

color:pink;

position: absolute;



}
i.fa-fw {
color:white;
font-size:500%;
margin: 13% 11%;
cursor: pointer;
}


div.le {
position:absolute;
width:100%;
text-align:center;
color:LemonChiffon;

}

div.lepo {
position:absolute;
width:100%;
text-align:center;
color:white;
 

}
